.answer-screen .pallet-list-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 10px; /* Gap between grid items */
}
.answer-screen .question-number.attempted {
  border-color: green; /* Border color for attempted questions */
}

.answer-screen .question-number.not-attempted {
  border-color: yellow; /* Border color for not-attempted questions */
}

.answer-screen .question-grid-container {
}

.answer-screen .question-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  border: 1px solid #000;
  cursor: pointer;
}

.answer-screen .question-grid-wrapper {
  overflow: auto;
  max-width: 100%;
  max-height: 60%;
}

.answer-screen .question-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.question-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid #000;
}

.answer-screen .accordion-body {
  padding: 0px !important;
  margin-top: 15px;
}

.answer-screen .Unanswered{
  border: solid 1px #b6c6cd;
  color: #b6c6cd;
}


.answer-screen .correct{
  border: 1px solid #52b22c;
  color: #52b22c;
}

.answer-screen .incorrect{
  border: 1px solid #ff5757;
    color: #ff5757;
}

.answer-screen .skipped{
  border: 1px solid #e8ce17;
  color: #e8ce17;
}